<h1 id="categoryTitle">{{ category }} products</h1>

{{#each products as |product| }}
<div class="container">
  <div class="row"> 
    <div class="col">
      <a href="/products/{{ product.id }}">{{product.name}} (Product ID - {{product.id}})</a>
    </div>
    <div class="col">
      {{product.description}}
    </div>
  </div>
</div>
{{/each}}

