  <h1 id="categoryTitle">{{ name }}</h1>

<center>
<div class="card project-list" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ name }} ({{ id }})</h5>
    <p class="card-text">{{ description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: £{{ price }}</li>
    <li class="list-group-item">Installation Cost: £{{ installationCost }}</li>
    <li class="list-group-item">Payback Amount: £{{ paybackAmount }}</li>
  </ul>
  <div class="card-body">
    <a href="/products/category/{{ category }}" class="card-link">Back to {{ category }}</a>
  </div>
  <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
</div>
</center>

<script src="/js/deleteProduct.js"></script>